.sidebar {
  position: fixed;
  display: grid;
  background: #fdfdfd;
  width: 300px;
  height: 100%;
  /*box-shadow:0 0 25px 0 
      rgba(0,0,0,.25);*/
  box-sizing: border-box;
  z-index: 9;
}
.sidebar .handle {
  background: transparent;
  border-left: solid thin #ced6e0;
  height: 100%;
  width: 5px;
  left: 98%;
  top: 0;
  position: absolute;
  text-align: center;
  grid-column: 2;
}
.sidebar .handle:hover {
  cursor: ew-resize;
}
body {
  margin: 0;
}
.tools_nav {
  grid-row: 1;
  grid-column: 1;
  background: white;
  height: 50px;
  width: 100%;
  position: relative;
  display: flex;
  z-index: 3;
  background: #f1f2f6;
  flex-flow: column wrap;
  flex-grow: 1;
  overflow: hidden;
}
.tools_nav a {
  color: #2f3542;
  width: auto;
  min-width: 50px;
  height: 50px;
  text-decoration: none;
}
.content {
  position: relative;
  grid-row: 2;
  margin:10px;
  max-width: 100%;
  min-width: 0;
  height: 100%;
  max-height: 90%;
  border: solid 1px #ced6e0;
  z-index: 3;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  overflow-y: scroll;
}
.tools {
  margin: 15px;
  width: 150px;
  height: 100px;
  border: solid thin #ced6e0;
  cursor: grab;
}
.outputBody {
  height: 100%;
  width: 100%;
  float: right;
  background: #fff;
}
.border {
  position: absolute;
  background: transparent;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}
.border:nth-child(2) {
  width: 5px;
  height: 100%;
  right:0;
}
.border:nth-child(3) {
  width: 100%;
  height: 5px;
  cursor: ns-resize;
}
.border:nth-child(4) {
  width: 100%;
  height: 5px;
  top:100%;
  cursor: ns-resize;
}
.newDiv{
  width : 100px;
  height: 100px;
  border: solid;
  border: solid thin #aaa;
  position: absolute;
  object-fit: contain;
  box-sizing: border-box;
}
.grab{
  left:1%;
  top:1%;
  position: relative;
  height:98%;
  width: 98%;
  box-sizing: border-box;
  border:dashed thin #aaa;
}